* {
	box-sizing: border-box;
	/*padding: 0;
	margin: 0;*/
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--verde-2: #21bf63;
	--cinza-1: #242626;
	--cinza-2: #ffffff0a;
	--cinza-3:  #ffffff09;
	--verde-1: #144d37;
	--sb-track-color: #232e33;
	--sb-thumb-color: #ffffff;
	--sb-size: 2px;
}

body {
	background-color: var(--cinza-1);
}

.background {
	background-image: url(/sign_in_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

.blur {
	position: absolute;
	inset: 0;
	z-index: 1;
	backdrop-filter: blur(5px);
	pointer-events: none; /* mantém clicável */
}

.form-container {
	position: relative;
	z-index: 2; /* fica acima do blur */
}

.btn {
	padding: 8px 20px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.btn-black {
	background-color: black;
	color: white;
}

.btn-blue {
	background-color: rgb(62, 35, 216);
	color: white;
}

.btn-gray {
	background-color: #3a3a3aa2;
	color: white;
}

input.text {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}

.bg-img {
	background-image: url(/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.open-chat-search {
		display: none;
	}
}
@media (max-width: 600px) {
	.bg-wrapper-login {
		display: none !important;
	}

	.form-container {
		border-radius: 8px !important;
	}

	.direct-sidebar {
		display: none;
	}
}
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-2 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.bg-castanho {
	background-color: #161717;
}

.chat-selector {
	user-select: none;
	cursor: pointer;
	transition: all 0.4s ease;
}

.chat-selector:hover {
	background-color: #272727;
}

.chat-wrapper {
	background: url("/chat_bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cinza-1 {
	background-color: var(--cinza-1);
}

.cinza-2 {
	background-color: var(--cinza-2);
}

.verde-1 {
	background-color: var(--verde-1);
}

.verde-2 {
	background-color: var(--verde-2);
}

.chat-search:focus {
	border: 3px solid var(--verde-2);
	background-color: transparent;
}

.chat-search {
	border: 3px solid transparent;
	transition: all 0.2s ease;
	background-color: var(--cinza-2);
}

.avatar-wrapper {
	overflow: auto;
	scrollbar-width: none;
}

.avatar-wrapper::-webkit-scrollbar {
	display: none;
}

.sign-up .error-msg,
.sign-in .error-msg {
	opacity: 0.7;
	font-size: 10px;
	min-height: 1.25rem; /* altura fixa para evitar "pulo" do layout */
	transition: all 1s ease;
}

.sign-in div.error input {
	border-color: rgba(255, 0, 0, 0.377);
}

.sign-up input {
	transition: all 1s ease;
}

input.error {
	border-color: rgba(255, 0, 0, 0.377);
}

.messages-wrapper::-webkit-scrollbar {
	width: var(--sb-size);
}

.messages-wrapper::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 5px;
}

.messages-wrapper::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
	.messages-wrapper {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

/* Adicione no seu arquivo CSS global se precisar */
.w-inherit {
	width: inherit;
}

.break-words {
	word-break: break-word;
	overflow-wrap: break-word;
}
/* No seu arquivo CSS global */
[contenteditable]:empty:before {
	content: attr(data-placeholder);
	color: #9ca3af;
	font-style: italic;
}

.caret-blue {
	caret-color: var(--color-blue-500);
}

.send-btn {
	scale: 0.9;
}

/* Custom scrollbar Webkit */
div[contenteditable]::-webkit-scrollbar {
	width: var(--sb-size);
}

div[contenteditable]::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 5px;
}

div[contenteditable]::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 5px;
}

/* Fallback Firefox */
@supports not selector(::-webkit-scrollbar) {
	div[contenteditable] {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

.no-select {
	user-select: none;
	pointer-events: none;
	touch-action: none;
}

@keyframes aparecer {
	from {
		opacity: 0;
	}

	to {
		opacity: 1 !important;
	}
}

.fade {
	animation: aparecer 2s
		linear(
			0,
			0.49 7.4%,
			0.864 15.3%,
			1.005 19.4%,
			1.12 23.7%,
			1.206 28.1%,
			1.267 32.8%,
			1.296 36.4%,
			1.311 40.2%,
			1.313 44.2%,
			1.301 48.6%,
			1.252 56.9%,
			1.105 74.4%,
			1.048 82.5%,
			1.011 91.1%,
			1
		)
		1;
}

.cursor {
	cursor: pointer;
}

.pedidos .profile{
	background-color: var(--cinza-3);
	transition: all .3s ease ;
}

.pedidos .profile:hover{
	background-color: var(--cinza-1);
}