* {
	box-sizing: border-box;
	/*padding: 0;
	margin: 0;*/

}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.background {
	background-image: url(/sign_in_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

.blur {
	position: absolute;
	inset: 0;
	z-index: 1;
	backdrop-filter: blur(5px);
	pointer-events: none; /* mantém clicável */
}

.form-container {
	position: relative;
	z-index: 2; /* fica acima do blur */
}

.btn {
	padding: 8px 20px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.btn-black {
	background-color: black;
	color: white;
}

.btn-blue {
	background-color: rgb(62, 35, 216);
	color: white;
}

input.text {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}

.bg-img {
	background-image: url(/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

@media (max-width: 900px) {
	.bg-wrapper-login {
		display: none !important;
	}

	.form-container{
		border-radius: 8px !important;
	}
}
